@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body{
    background-color: #E9ECF8;
}
.layout{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch; 
}
.input{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    gap: 10%;
    color: #0A3871;
    
}
.input-container{
    display: flex;
    flex-wrap: wrap;
    background-color: #D8DFE8;
    padding: 200% ;
    border-radius: 1%;
    border: none;
}
.input-container-texto{
    width: 280%;
    height: 90%;
    border: none;
    border-radius: 1%;
    font-family: 'Inter', sans-serif;
    background-color: #D8DFE8;
    gap: 10%;
}
.logo{
    width: fixed(120px);
    height: fixed(48px);
    top: 40px;
    left: 40px;
    gap: 40px;
}

.input-aviso{
    color: gray;
    font-family: 'Inter', sans-serif;
    size: 12px;
    line-height: 18px;
    font-weight: 400;
    gap: 1%;
    display: flex;
    align-items: center;
    justify-self: flex-end;
    
}
.layout-dos{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    width: 100%;
    height: 100%;
    
}
.input-layout-botones{
    display: flex;
    flex-flow: column wrap;
    width: 50%;
    height: 30px;
    gap: 2%;
    
}
.input-boton{
    background-color: #0A3871;
    border-radius: 24px;
    gap: 8px;
    color: white;
    size: 16px;
    text-align: center;
    border: 1% solid #1875E8;
    padding: 16px 24px;
    width: 50%;
    font-size: 150%;
    margin-top: 2rem;
    cursor: pointer;
    
}
.input-boton-dos{
    background-color: #D8DFE8;
    color: #0A3871;
    size: 16px;
    border-radius: 24px;
    text-align: flex-end;
    border: 1px solid #1875E8;
    padding: 16px 24px;
    width: 50%;
    font-size: 24px;
    margin-top: 2rem;
    align-items: center;
    cursor: pointer;
}
.rectangulo{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 994px;
    border-radius: 32px;

}
.rectangulo-textarea{
    color: #343A40;
    font-family: 'Inter', sans-serif;
    text-align: center;
    line-height: 28.8px;
    width: 336px;
    cursor: pointer;
    
}
@media(max-width: 768px ){
    .input{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .input-container-texto{
        width: 88%;
        height: 90%;
        height: auto;
    }
    .rectangulo{
        display: flex;
        justify-content: space-around;
        gap: 5000px;
        width: 88%;
        height: auto;
    }
    body{
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
    }
    .input-layout-botones{
        width: 100%;
    }
}